{{ define "main" }}
  {{ partial "page-header" . }}

  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          <div class="content">
            {{ .Content }}
          </div>
        </div>
      <!-- Gallery -->
        {{ if .Params.gallery.enable }}
          {{ partial "gallery.html" (dict "Dir" .Params.gallery.dir "Class" "gallery" "Height" "400px" "Width" "400px" "Loading" "lazy" "Webp" true "Resize" true "Command" "Fit" "Option" "400x400" "Zoomable" true) }}
        {{ end }}
      <!-- Slider -->
        {{ if .Params.slider.enable }}
          {{ partial "slider.html" (dict "Dir" .Params.slider.dir "Class" "gallery-slider" "Height" "400px" "Width" "400px" "Loading" "lazy" "Webp" true "Resize" true "Command" "Fit" "Option" "400x400" "Zoomable" true) }}
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
